.nav__link {
  color: black;
}
.nav__link--active {
  color: purple;
  font-weight: bold;
}

/* div {
  background-color: red;
  color: white;
  font-size: 24px;
} */

/* mobile phone dimensions */
/* @media (max-width: 576px) {
  div {
    font-size: 16px;
  }
} */

/* desktop */
/* @media (max-width: 992px) {
} */

/* ------------- */

/* sudo element - accessed by one colon, needs content */
/* div::after {
  content: " Frontend Simplified";
} */

/* ------------ */
/* sudo class - one colon, does not need content */
/* on hover, turn bg of text grey */

/* div {
  transition: background-color 300ms;
}

div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  animation: float 2000ms 3 alternate-reverse
    transition: all 300ms;

}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
} */
/* --- */
